{% extends "base/layout.html" %}

{% block content %}

  <!-- navbar -->
   {% include "partials/navbar.html" %}

   <!-- hero -->
   {% include "partials/hero.html" %}

     <!-- about me -->
   {% include "partials/about_me.html" %}

    <!-- skills -->
   {% include "partials/skills.html" %}


     <!-- project -->
   {% include "partials/projects.html" %}

     <!-- coontact me -->
   {% include "partials/contact_me.html" %}

    <!-- footer -->
   {% include "partials/footer.html" %}
{% endblock content %}